.details {
  max-width: 600px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

.details header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  filter: var(--drop-shadow);
  box-shadow: 0px 0px 5px 0px var(--primary-hover) inset;
}

.details section {
  padding: var(--spacing-md);
  padding-bottom: 0;
}

.details footer {
  padding: 1rem;
}
