.header {
  display: flex;
  column-gap: var(--spacing-md);
  justify-content: center;
  padding: 1rem;
  margin-bottom: var(--spacing-md);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--primary);
}


.title {
  font-size: 1.8rem;
  text-align: center;
}
