.item {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background: var(--primary);
  animation: var(--fade-in);
  transition: background-color 250ms ease-in-out;
  filter: var(--drop-shadow);
  box-shadow: 0px 0px 5px 0px var(--background) inset;
}

.item:hover, .item:focus, .item:focus-visible {
  background: var(--primary-hover);
}

.item article {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item article > * {
  padding: 0.5rem;
}

.item header {
  text-align: center;
  background-color: var(--primary-shaded);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 0px var(--primary-hover) inset;
}

.item section {
  text-align: center;
}

.item footer {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  font-size: 1.5rem;
}

.skeleton {
  height: 10rem;
  border-radius: var(--border-radius);
  background: radial-gradient(var(--primary) 0, #0000 95%);
  animation: var(--fade-in);
}
