.item {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--primary);
}

.item article {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item article > * {
  padding: 0.5rem;
}

.item header {
  text-align: center;
  background-color: var(--primary-shaded);
  border-radius: var(--border-radius);
}

.item section {
  text-align: center;
}

.item footer {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  font-size: 1.5rem;
}

.skeleton {
  height: 10rem;
  border-radius: var(--border-radius);
  background: radial-gradient(var(--primary) 0, #0000 95%);
}
